<div>
    <h1>Update Card</h1>
    <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="update()">
        <label for="numberCard">Number Card:</label><br>
        <input type="text" id="numberCard" formControlName="numberCard" required><br><br>
        <label for="type">Type:</label><br>
        <input type="text" id="type" formControlName="type" required><br><br>
        <label for="expirationDate">Expiration Date:</label><br>
        <input type="date" id="expirationDate" formControlName="expirationDate" required><br><br><br>
        <button type="submit">Update</button>
    </form>
</div>