<div>
    <h1>Create Card</h1>
    <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="create()">
        <label for="numberCard">Number Card:</label><br>
        <input type="text" id="numberCard" formControlName="numberCard"><br><br>
        <label for="type">Type:</label><br>
        <input type="text" id="type" formControlName="type"><br><br>
        <label for="expirationDate">Expiration Date:</label><br>
        <input type="date" id="expirationDate" formControlName="expirationDate"><br><br><br>
        <button type="submit">Create</button>
    </form>
</div>