<div>
    <h1>Card List</h1>
    <div>
        <button type="button" routerLink="/create">Create</button>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Number Card</th>
                    <th>Type</th>
                    <th>Expiration Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let card of cards'>
                    <td>{{card._id}}</td>
                    <td>{{card.numberCard}}</td>
                    <td>{{card.type}}</td>
                    <td>{{card.expirationDate}}</td>
                    <td>
                        <button type="button" [routerLink]="['/update',card._id]">Update</button>
                        <button type="button" (click)="delete(card._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>